.split {
  display: flex;
}

.gutter {
  background-color: #eeeeee;
}

.selected-note {
  background-color: #4a4e74;
  color: #fff;
}

.selected {
  padding: 1rem;
}

.mde-header {
  font-size: 2rem;
}

.mde-preview-content,
.mde-text {
  font-size: 1.6rem;
}
